/*Variabelen*/
$primary-color: red;
$text-color: white;
$background-color: #E4121B;
$whitIngy: #F9AFB0;

page-page3 {
  h1{
    color:$primary-color;
    text-align:center;
    position: relative;
    top:10%;
  }
	  h3{
	  	color:$primary-color;
	  	text-weight: bold;
	  	position: relative;
    		bottom: 15%;
     		left: 15%;
	  }
	  #Afrekenen{
		background: $primary-color;
		color: $text-color;
		font-weight: bold;
		font-size:20px;
		padding: 3% 15%;
      position: relative;
      top: 10px;
    margin: auto;

 		transform: translate(50%, -50%);
	}
  .plijst{

  }
}
